[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"

[dev-packages]
build = "*"
twine = "*"
black = "*"

[requires]
python_version = "3.1"

[scripts]
main = "python -m gungnir"
build = "python -m build"
publish = "python -m twine upload dist/*"
clean = "rm -r ./src/gungnir.egg-info/ && rm -r ./dist"
test = "python -m unittest discover -v -s ./tests -p 'test_*.py'"
fmt = "black ./gungnir"
lint = "black --check ./gungnir"
